<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--中央调度器-->
    <servlet>
        <servlet-name>contextConfigLocation</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:applicationContext.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>contextConfigLocation</servlet-name>
        <!--        url_pattern可以使用两种值
                    1.使用扩展名方式，*.xxx,xxx是自定义的扩展名 常用方式*.do ,*action等等
        -->
        <url-pattern>/</url-pattern>
        <!--当项目中使用了斜杠会替代tomcat中的default,默认情况下dispatcherServlet没有处理静态资源呢能力-->
    </servlet-mapping>


    <!--注册spring的监听器-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


</web-app>